# Documentation static site generator & deployment tool
mkdocs>=1.4.3

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
mkdocs-material>=9.1.16

mkdocs-macros-plugin==0.7.0
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-material-extensions==1.1
mkdocs-glightbox
mkdocs-markmap
mkdocs-charts-plugin
markdown-captions


